<div class="container py-5 w mb-5 new-category">

    <h3 class="mb-3">Edit Category</h3>
    <form class="p-md-5 border rounded-3 bg-body-tertiary" id="edit-category" action="" method="post">

        <!-- Name and status input -->

        <div class="row">
            <div class="err text-danger"></div>
            <input type="hidden" value="{{category._id}}" name="id">
            <div class="form-floating mb-3 col-md-6">

                <input type="text" id="form4Example1" value="{{category.cat_name}}" class="form-control" name="cat_name" />

                <label class="form-label ms-2" for="form4Example1">Category name</label>

            </div>
            <div class="form-floating mb-3 col-md-6">

                <select name="cat_status" id="" class="form-control" style="width:100%;height:100%;by">
                        {{#if category.cat_status}}
                        <option value="true">List</option> 
                        <option value="false">Unlist</option> 
                        {{else}}
                        <option value="false">Unlist</option> 
                        <option value="true">List</option> 
                        {{/if}}
                </select>

                <label class="form-label ms-2" for="form4Example1">Category Status</label>

            </div>
        </div>


        <!-- discription input -->

        <div class="form-floating mb-3">

            <textarea class="form-control text-area" id="exampleFormControlTextarea1" name="discription"
                rows="3">{{category.discription}}</textarea>

            <label class="form-label" for="form4Example3">Discription</label>

        </div>

        <!-- Submit button -->
        <button type="reset" class="btn btn-lg btn-danger px-5">Clear</button>
        <button type="submit" class="btn btn-lg btn-primary px-5">Send</button>

    </form>


</div>