<style>
    .new-banner {
        position: relative;
    }

    #image {
        display: block;
        width: 500px;
        height: 400px;
        max-width: 100%;
    }

    #preview-img {
        display: none;
    }

    .crop-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        display: none;
    }

    #output {
        margin: 0 5px;
    }
</style>
<section class="new-banner p-5 ">
    <h3>New Banner</h3>
    <form class="py-4 row" id="new-banner" enctype="multipart/form-data">
        <div class="left-section col-sm-6">
            <div class="form-group mb-4">
                <label for="">Banner Type</label>
                <select name="banner_type" class="form-select" id="">
                    <option value="Upcoming Sales">Upcoming Sales</option>
                    <option value="Upcoming Launches">Upcoming Launches</option>
                    <option value="Just Launched">Just Launched</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="">Banner URL</label>
                <input type="text" class="form-control" placeholder="Enter the url" name="reference">
            </div>
            <div class="form-group mb-4">
                <label for="">Banner Category</label>
                <select name="category" class="form-select" id="">
                    {{#each category}}
                    <option value="{{this._id}}">{{this.cat_name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="right-section col-sm-6">
            <div class="form-group mb-4">
                <label for="">Starting Date</label>
                <input type="date" class="form-control" id="st_date" placeholder="Banner Name" name="starting_date"
                    required>
            </div>
            <div class="form-group mb-4">
                <label for="">Exp. Date</label>
                <input type="date" class="form-control" id="exp_date" placeholder="Banner Name" name="exp_date"
                    required>
            </div>
            <div class="form-group mb-4">
                <div>
                    <label for="">Banner Image</label>
                    <input type="file" class="form-control mb-3" placeholder="Banner Name" id="banner-image">
                    <img src="/Images/Banners/{{banner.image.filename}}" class="" alt="" width="200" id="prev">
                    <input type="hidden" name="image" id="result">
                </div>
            </div>
        </div>
        <div class="btn-grp">
            <button type="reset" class="btn btn-danger px-4">Clear</button>
            <button type="submit" class="btn btn-primary px-4">Submit</button>
        </div>
    </form>
    <div class="crop-container card shadow" id="crp-container">
        <div>
            <img src="" id="image" alt="" width="200" height="200px">
            <button id="cropImageBtn" class="btn btn-primary mt-3">Crop Image</button>
        </div>
    </div>

</section>
<script>
    // Get the current date in "YYYY-MM-DD" format
    const currentDate = new Date().toISOString().split('T')[0];
    // Set the minimum date for the input element to the current date
    document.getElementById('exp_date').setAttribute('min', currentDate);
    document.getElementById('st_date').setAttribute('min', currentDate);


</script>