<div class="container py-5 w mb-5 new-category">
    
        <h3 class="mb-3">New Category</h3>
          <form class="p-md-5 border rounded-3 bg-body-tertiary" action="/admin/category/new-category" method="post">

            <!-- Name input -->

            <div class="form-floating mb-3">

              <input type="text" id="form4Example1" class="form-control" name="cat_name"/>

              <label class="form-label" for="form4Example1">Category name</label>

            </div>


            <!-- discription input -->

            <div class="form-floating mb-3">

              <textarea class="form-control text-area" id="exampleFormControlTextarea1" name="discription" rows="3"></textarea>

              <label class="form-label" for="form4Example3">Discription</label>

            </div>

            <!-- Submit button -->
             <button type="reset" class="btn btn-lg btn-danger px-5">Clear</button>
             <button type="submit" class="btn btn-lg btn-primary px-5">Send</button>

          </form>

   
</div>