<section class="new-product p-md-5">
    <a href="/admin/products" class="ms-4 txt-decoration-null"><i class="fa-solid fa-left-long"></i>Products</a>
    <div class="header px-4 py-2">
        <h3>New Product</h3>
    </div>
    <form class="row d-flex justify-content-center" id="new-prod-form">
        <section class="left-secton col-md-6 p-3">
            <div class="card p-md-5 p-2 me-md-5">
                <h5 class="mb-4">Choose product images </h5>
                <div class="wrapper  d-flex flex-row">
                <div class="left" style="width:fit-content">   
                <input type="file" class=" form-control" accept=".jpeg,.png,.jpg,.webp" id="prod_img_1" name="prod_img_1" required/>
                <label for="prod_img_1" class="mb-3">Primary image</label>
                <div class="warning text-warning">Choose only 3 images</div>
                <div class="err text-danger"></div>
                <input type="file" class=" form-control" accept=".jpeg,.png,.jpg,.webp" id="prod_img_2" name="prod_img_2" multiple required/>
                  <label for="prod_img_1" class="mb-3"></label>
                </div>
                <div class="right bg-info" style="width:fit-content">
                    <div class="primary-img">
                        <img src="" alt="">
                    </div>
                </div>
                </div>
            </div>
            <div class="form-floating my-3 me-md-5">

                <textarea class="form-control text-area" id="discription" name="discription"
                    style="min-height:150px !important;" required></textarea>

                <label class="form-label" for="form4Example3">Discription</label>

            </div>

        </section>
        <section class="right-section col-md-6  col-md-6 p-4">
            <div class="form-group mb-4">
                <input type="text" id="product_name" name="product_name" class="form-control" required>
                <label for="">Product Name</label>
            </div>
            <div class="row mb-4">
                <div class="form-group col-md-6">
                    <input type="text" name="brand_name" class="form-control" required>
                    <label for="">Brand Name</label>
                </div>
                <div class="form-group col-md-6 d-flex flex-column">
                    <select class="form-control" name="category" required>
                       {{#each category}}
                            <option value="{{this._id}}">{{this.cat_name}}</option>
                       {{/each}}
                    </select>
                    <label for="">Category Name</label>
                </div>
            </div>
            <div class="row mb-4">
                <div class="form-group col-md-6">
                    <input type="number" name="stock" class="form-control" required>
                    <label for="">Stock</label>
                </div>
                <div class="form-group col-md-6">
                    <input type="number" name="prod_price" class="form-control" required>
                    <label for="">Actual Price</label>
                </div>
            </div>
            <div class="row mb-4">
                <div class="form-group col-md-6">
                    <input type="number" name="sellig_price" class="form-control" required>
                    <label for="">Selling Price</label>
                </div>
                <div class="form-group col-md-6">
                    <input type="number" name="GST" class="form-control" required>
                    <label for="">GST(In percentage)</label>
                </div>
            </div>
            <div class="add-spec mb-4">
                <div class="header d-flex justify-content-between align-items-center">
                    <h5>Add Specifications</h5>
                    <button class="py-2 px-3 btn btn-outline-primary add-spec-btn" type="button"><i
                            class="fa-solid fa-plus"></i></button>
                </div>
                <div id="spec-list" class="row">

                </div>
                <div class="mb-4 new-spec-input">
                    <div class="err text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <input type="text" class="form-control attribute">
                        </div>
                        <div class="form-group col-md-5">
                            <input type="text" class="form-control value">
                        </div>
                        <div class="btn-grp col-md-2 d-flex">
                            <button class="btn spec-add-btn" type="button"><i
                                    class="fa-solid fa-check text-success"></i></button>
                            <button class="btn speck-inp-dlt" type="button"><i
                                    class="fa-regular fa-circle-xmark text-danger"></i></button>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <button type="reset" class="new-prod-submit btn btn-danger py-3 " style="width:20vw;">Clear</button>
        <button type="submit" class="new-prod-submit btn btn-primary py-3 ms-2" style="width:20vw;">submit</button>

    </form>
</section>