<section class="vh-100 reset-pass mt-5">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pass-box d-flex flex-column align-items-center py-5 ">
        <h4 class="mb-5">Create new password</h4>
        <form id="admin-newpass" action="/admin/forgot-password/reset-password" method="post">
          <div class="passErr text-danger"></div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Enter the new password</label>
            <input type="password" id="admin_password" class="ad-pass form-control form-control-lg"
              name="admin_password" placeholder="Enter new password" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Confirm Password</label>
            <input type="password" id="form3Example4" class="rep-pass form-control form-control-lg"
              name="confirm_password" placeholder="Enter password" />
          </div>
          <button class="btn" type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>
</section>