<header class=" navbar d-flex justify-content-between py-3 px-5">
   <div class="d-flex align-items-center">
    <div class="logo">
        <img src="https://drive.google.com/uc?id=1ve4rabj5ZgaVS1OkNsfX8OP_yOsLBDJl" alt="">
    </div>
    <div class="title ms-3 d-flex flex-column">
    <a class="navbar-header" href="/admin"><h1 class="m-0">Admin Panel</h1></a>
     <span class="text-muted">Welcome {{admin.user_name}}</span>
    </div>
  </div>
</header>