<div class="admin-side-bar ms-md-4 my-md-3">
  <li class=" sidebar-btn p-3" display="none">
    <i class="fa-solid fa-bars fs-1"></i>
  </li>
  <div class="sidebar-list">
    <div class="link-wraper my-2  px-4  py-4">

      <ul class="navbar-nav">
        <li class="nav-item d-flex align-items-center mb-5">
          <img src="https://cdn-icons-png.flaticon.com/512/1694/1694011.png" alt="" class="side-bar-icon">
          <a href="/admin" class="txt-decoration-null ms-3 fw-bold text-muted">Dashboard</a>
        </li>
        <li class="nav-item d-flex align-items-center mb-5">
          <i class="fa-solid fa-box-open side-bar-icon"></i>
          <a href="/admin/products" class="txt-decoration-null ms-3 fw-bold text-muted">Products</a>
        </li>
        <li class="nav-item d-flex align-items-center mb-5">
          <i class="fa-regular fa-user side-bar-icon"></i>
          <a href="/admin/customers" class="txt-decoration-null ms-3 fw-bold text-muted">Customers</a>
        </li>
        <li class="nav-item d-flex align-items-center mb-5">
          <i class="fa-solid fa-cart-shopping side-bar-icon"></i>
          <a href="/admin/orders" class="txt-decoration-null ms-3 fw-bold text-muted">Orders</a>
        </li>
        <li class="nav-item d-flex align-items-center mb-5">
          <i class="fa-solid fa-table-cells-large fa-custom-icon side-bar-icon"></i>
          <a href="/admin/category" class="txt-decoration-null ms-3 fw-bold text-muted">Category</a>
        </li>
        <li class="nav-item d-flex align-items-center mb-5">
          <i class="fa-solid fa-arrow-up-from-bracket side-bar-icon" style="transform: rotate(90deg);"></i>
          <a href="/admin" class="txt-decoration-null ms-3 fw-bold text-muted">Sales Report</a>
        </li>
        <li class="nav-item d-flex align-items-center mb-5">
          <i class="fa-solid fa-font-awesome side-bar-icon"></i>
          <a href="/admin/banner-management" class="txt-decoration-null ms-3 fw-bold text-muted">Banner Management</a>
        </li>
        <li class="nav-item d-flex align-items-center mb-5">
          <i class="fa-solid fa-money-bill-wave side-bar-icon"></i>
          <a href="/admin/coupon-management" class="txt-decoration-null ms-3 fw-bold text-muted">Coupon Management</a>
        </li>

      </ul>
    </div>
    <div class="sidebar-footer btn-group dropup ">
      <div class="btn-group dropup">
        <button type="button" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item text-white" href="/admin/sign-out">Log out</a>
          <a class="dropdown-item text-white" href="#">Edit Profile</a>
        </div>
      </div>
      <div class="user-details">
        <p class="m-0" style="font-size:17px;">{{adminData.user_name}}</p>
        <p class="fw-lighter m-0" style="font-size:12px;">{{adminData.admin_email}}</p>
      </div>
    </div>
  </div>
</div>