<div class="user-sidebar m-0">
    <div class="card" >
    <div class="menu pt-3 pb-2 ps-4"><h4>Menu</h4></div>
        <div class="link-wraper my-2  px-4  py-4">
            <ul class="navbar-nav">
                <li class="nav-item d-flex align-items-center mb-5">
                    <i class="fa-solid fa-user side-bar-icon"></i>
                    <a href="/account" class="txt-decoration-null ms-3 fw-bold text-muted">Profile</a>
                </li>
                <li class="nav-item d-flex align-items-center mb-5">
                    <i class="fa-regular fa-user side-bar-icon"></i>
                    <a href="/account/my-orders" class="txt-decoration-null ms-3 fw-bold text-muted">Orders</a>
                </li>
                <li class="nav-item d-flex align-items-center mb-5">
                    <i class="fa-solid fa-location-dot side-bar-icon"></i>
                    <a href="/account/my-address" class="txt-decoration-null ms-3 fw-bold text-muted">Manage Address</a>
                </li>
                <li class="nav-item d-flex align-items-center mb-5">
                    <i class="fa-solid fa-arrow-up-from-bracket side-bar-icon" style="transform: rotate(90deg);"></i>
                    <a href="/admin" class="txt-decoration-null ms-3 fw-bold text-muted">Reviews And Rating</a>
                </li>
                <li class="nav-item d-flex align-items-center mb-5">
                    <i class="fa-solid fa-table-cells-large fa-custom-icon side-bar-icon"></i>
                    <a href="/account/my-wishlist" class="txt-decoration-null ms-3 fw-bold text-muted">Wishlist</a>
                </li>
                <li class="nav-item d-flex align-items-center mb-5">
                    <i class="fa-solid fa-font-awesome side-bar-icon"></i>
                    <a href="/admin/banner-management" class="txt-decoration-null ms-3 fw-bold text-muted">Notifications</a>
                </li>
            </ul>
        </div>
    </div>
</div>