.user-nav{
    /* border-bottom:1px solid rgb(81, 81, 81); */
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(255, 255, 255);
}
.user-header{
    position: relative;
}
.search,.link,.logo{
    overflow: hidden;
}
.user-header .logo img{
    width: 75px;
}
.user-header .logo h1{
    color: var(--blue-clr)
}
.user-header input[type="search"]{
    border: none !important;
    width: 100%;
}
.user-header input[type="search"]:focus{
    border: none !important;
    outline: none !important;  
}
.user-header .search-box{
    width: 400px !important;
}
.user-header .search-box i{
    font-size:20px;
}
/* .user-header .link{
    width: 100%;
} */
.user-header .navbar-nav{
  width: 100%;
}
/* @media (max-width: 450px) {
    
    .user-header .navbar-nav{
        width: 100%;
        justify-content: space-around !important;
    }
  } */
.user-header i{
    color:var(--blue-clr);
    font-size:25px;
} 

/* user home */
.container-home{
    position:relative;
    background-color:var(--secondary-background);
}
.category-wraper{
    background-color: var(--blue-clr);
    border-radius:5px ;
}


.category-selector{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60px;
    overflow: hidden;
}

.showmore{
    color: var(--secondary-text)!important;
    position: absolute;
    right: 20px;
    width: 120px !important;
}
button.showless{
    color: var(--secondary-text)!important;
    position: absolute;
    right: 20px;
    width: 120px !important;
    display: none;
}

/* profile card */
#profile-crad{
    position: absolute;
    right: 70px;
    top:100%;
    z-index: 5!important;
    display: none;
}

/*login*/
.login-form .form-control{
    width:300px !important;
}
.login-form label{
  display:none !important;
}
.login-form label.error{
  display:block !important;
    color: red;
}

.user-signUp input[type="number"]::-webkit-inner-spin-button,
.user-signUp input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.user-signUp input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
/*sign-up*/
.signup-otpsection{
    display: none;
}

/*my account*/
.my-account{
    width: 100%;
}
.my-account .user-details{
    width: 100%;
}
.my-account .old-pass{
    display: none;
}
.my-account .new-pass{
    display: none;
}
.my-account .up-btn {
    display: none;
}
.my-account .gen-info-submit-btn{
    display: none;
}


/*my address*/
.my-address{
    width: 100%;
}

 .new-address-wrapper{
    display: none;
}
 .address-edit-card{
    display: none;
}
 #address-edit-card{
    display: none;
}

/*view product*/
.image-container{
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
#primary-img-view{
width: fit-content;
min-width:200px;
position: absolute;
left:50%;
right: 50%; 
top: 50%;
transform: translate(-50%,-50%) ;
pointer-events: none;
}
.secondary-img-container{
    position: relative;
}
.sec-img-wrapper{
    width:45vw;
    overflow-x:hidden;
}
.left-img-scroll,.right-img-scroll{
    font-size: 25px;
    color: var(--blue-clr);
    z-index: 5;
}

.sec-img-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sec-img-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

@media only screen and (max-width: 991px){
    .sec-img-wrapper{
        width:80vw;
    }
    .image-container{
        width: 90vw;
    }
    
}

@media only screen and (max-width: 400px){
    #primary-img-view{
        width: 80vw;
    }
}

.add-to-wish-list-btn{
    position: absolute;
    right: 25px;
    font-size: 25px;
}
.my-wishlist{
    width: 100%;
}
.my-wishlist .prod-wrapper{
    width: 100%;
}
.my-wishlist .prod-wrapper{
    position:relative;
}
.my-wishlist .add-to-cart-btn{
    position: absolute;
    bottom: 20px;
    right:20px;
}
.my-wishlist .dlt-wishlist{
    position:absolute;
    right: 20px;
    font-size:20px;
}

.my-cart .price-details{
    margin-top: 56px;
}

.my-cart .order-summary .item-list input:focus{
    outline:none;
}