<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .wrapper{
    overflow: hidden;
  }
  h1{
    visibility: hidden;
    width: 0;
    animation: show 0s 2s forwards;
    text-wrap: nowrap;
  }
  @keyframes show{
    to{
      visibility: visible;
    }
  }
  img{
    display: block;
    animation: hai 0s 2s forwards;
  }
  @keyframes hai{
    to{
      display: none;
      width: 100%;
    }
  }

</style>
<body style="overflow: hidden;">
 <div class="wrapper" style="width: 100vw; height: 100vh; display: flex;justify-content: center; align-items: center; background-color:#f7f7f7;">
    <img src="https://cdn.pnghd.pics/data/1795/success-gif-15.gif" alt="" id="success-order-img">
    <h1>Order Placed Successfully</h1>
 </div>
</body>
</html>