<section class="forgot-pass-verifier row">
    <div class="left-container col-md-6 d-flex justify-content-center align-items-center">
        <img class="forgot-img" src="https://cdni.iconscout.com/illustration/premium/thumb/forgot-the-password-5795917-4841574.png?f=webp" alt="">
    </div>
    <div class="d-flex justify-content-center align-items-center container col-md-6 p-5 ">
        <div class="card verify-wrapper pb-5 pt-4 px-3">
            <div class="otp-section d-flex flex-column align-items-center px-5">
                <div id="otp-wraper">
                <label class="m-0 mt-3">Enter the code we just send to <br> <b
                        class="text-danger email-span"></b></label>
                <input type="text" class="form-control mt-3 admin-otp"  autofocus="">
                 <div class="otpErr text-danger"></div>
                <button class="btn mt-3 px-5" id="otp-verify-btn">Verify</button>
                <div class="resend-wraper">
                <span class=" mobile-text">Don't receive the code?</span>
                <span class="font-weight-bold text-danger cursor" id="email-verify-btn">Resend</span>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>