<section class="my-notificarions p-3" style="width: 100%;">
    <h3>My Notifications</h3>
    <div class="alert-group mt-4" style="width: 100%;">
        {{#each alert}}
        <div class="card bg-light p-3 mt-2">{{this.message}}</div>
        {{/each}}
    </div>
</section>